@model Facturacion.Web.Models.Company

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Ubicación
            @*@Html.DisplayNameFor(model => model.Location)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.Address)
        </dd>
        <dt>
            Vendedor
            @*@Html.DisplayNameFor(model => model.Seller)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Seller.Email)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.CompanyId">Editar</a> |
    <a class="btn btn-dark" asp-action="Index">Regresar</a>
</div>
