@model Facturacion.Web.Models.Currency

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Moneda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CurrencyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CurrencyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Exchange)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exchange.ExchangeName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.CurrencyId">Editar</a> |
    <a class="btn btn-dark" asp-action="Index">Regresar</a>
</div>
