@model IEnumerable<Facturacion.Web.Models.PurchaseOrder>

@{
    ViewData["Title"] = "Index";
}

    <h2>Facturas <a class="btn btn-success" asp-action="Create">Agregar</a>  <a class="btn btn-info" asp-controller="Shippings" target="_blank" asp-action="Index">Mesas Disponibles</a> </h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Cliente
            </th>
            <th>
                Método de pago
            </th>
            <th>
                Número de mesa

            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            @*<th>
            Observaciones
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TotalValue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.FullName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Payment.Pway)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Shipping.ShippWay)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.OrderTime)
            </td>

            @*<td>
            @Html.DisplayFor(modelItem => item.comentario)
        </td>*@

            <td>
                @Html.DisplayFor(modelItem => item.TotalValue)
            </td>

            <td>
                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.PurchaseId">Editar</a>|
                <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.PurchaseId">Detalles</a>|
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.PurchaseId">Eliminar</a>|
                <a asp-action="PrintPDF" asp-route-id="@item.PurchaseId" target="_blank" class="btn btn-warning btn-sm">Imprimir</a>

            </td>
        </tr>
         }
    </tbody>
</table>
