@model Facturacion.Web.Models.City

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Municipio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CityName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CityName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State.StateName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.CityId">Editar</a> |
    <a class="btn btn-dark" asp-action="Index">Regresar</a>
</div>
