@model Facturacion.Web.Models.Supplier

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Suplidor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SupplierName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt>
            Ubicación
            @*@Html.DisplayNameFor(model => model.Location)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location.Address)
        </dd>
        <dt>
            Tipo de suplidor
            @*@Html.DisplayNameFor(model => model.SupplierType)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierType.Type)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.SupplierId">Editar</a> |   
    <a class="btn btn-dark" asp-action="Index">Regresar</a>
</div>
