@model IEnumerable<Facturacion.Web.Models.DocumentType>

@{
    ViewData["Title"] = "Index";
}

<h2>Tipos de documentos <a class="btn btn-success" asp-action="Create">Agregar</a></h2>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeDocument)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeDocument)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.DocumentTypeId">Editar</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.DocumentTypeId">Detalle</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.DocumentTypeId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
