@model IEnumerable<Facturacion.Web.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
    Layout = "_Layout_2";
}

    <center>



        <h1>Usuarios</h1>

        <a class="btn btn-primary" asp-action="Create">Registrar nuevo usuario</a> ||
        <a class="btn btn-success" asp-controller="Logins" asp-action="Create">Login</a>

        <p>

        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserMail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserMail)
                        </td>
                        <td>
                            *********
                            @*@Html.DisplayFor(modelItem => item.Password)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role.RoleName)
                        </td>
                        <td>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.UserId">Editar</a> |
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.UserId">Detalle</a> |
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.UserId">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </center>
