@model IEnumerable<Facturacion.Web.Models.Usuario>

@{
    ViewData["Title"] = "Index";
    Layout = null;
}

    <center>



        <h2>
            Usuarios   <a class="btn btn-success" asp-action="Create">Registrarse</a>
        </h2>
        <a class="btn btn-primary" asp-controller="Logins" asp-action="Create">Login</a>

        <p>

        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserMail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Password)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Role)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserMail)
                        </td>
                        <td>
                            *********
                            @*@Html.DisplayFor(modelItem => item.Password)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role.RoleName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </center>
