@model IEnumerable<Facturacion.Web.Models.Payment>

@{
    ViewData["Title"] = "Index";
}

<h2>Métodos de pago</h2>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pway)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pway)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.PaymentId">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.PaymentId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PaymentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
