@model Facturacion.Web.Models.Item

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>¿Seguro que desea eliminar esto?</h3>
<div>
    <h4>Artículo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt>
            Precio
            @*@Html.DisplayNameFor(model => model.UnitPrice)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt>
            Clasificación
            @*@Html.DisplayNameFor(model => model.Clasification)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Clasification.ItemType)
        </dd>
        <dt>
            Marca
            @*@Html.DisplayNameFor(model => model.Brand)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand.BrandName)
        </dd>
        <dt>
            Moneda
            @*@Html.DisplayNameFor(model => model.Currency)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Currency.CurrencyName)
        </dd>
        <dt>
            Unidad de medida
            @*@Html.DisplayNameFor(model => model.Unit)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Unit.UnitName)
        </dd>
        <dt>
            Estado
            @*@Html.DisplayNameFor(model => model.Status)*@
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status.StatusOf)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ItemId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a class=" btn btn-dark" asp-action="Index">Regresar</a>
    </form>
</div>
