@model IEnumerable<Facturacion.Web.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h2>Menús <a class="btn btn-success" asp-action="Create">Agregar</a></h2>

<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.UnitsInStock)*@
                Disponible
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                Precio
            </th>
            <th>
                Categoría
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>*@
            @*<th>
                Unidad
            </th>*@
            <th>
               Estado
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsInStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clasification.ItemType)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Brand.BrandName)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Currency.CurrencyName)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Unit.UnitName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusOf)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Supplier.Mail)
            </td>*@
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.ItemId">Editar</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ItemId">Detalles</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ItemId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
